@model IEnumerable<PermissionViewModel>

@{
    ViewBag.Title = "All permissions";
    Layout = "_AdminLayout";
}

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th class="text-left">ID</th>
        <th>Action</th>
        <th>Controller</th>
        <th>Roles assigned to count</th>
        <th>Actions</th>
    </tr>

    @foreach (var permission in Model)
    {
        <tr>
            <td class="col-md-2 text-left">@permission.Id</td>
            <td>@permission.Action.ToUpper()</td>
            <td>@permission.Controller.ToUpper()</td>
            <td>@permission.PermissionsRolesCount</td>
            <td class="text-center">
                <form asp-action="Remove" asp-controller="Permission" method="get">
                    <a asp-action="Edit" asp-controller="Permission" class="btn btn-sm btn-warning"
                       asp-route-permissionId="@permission.Id">
                        Edit
                    </a>
                    <input type="hidden" name="PermissionId" value="@permission.Id" />
                    <button type="submit" class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>

<div class="text-center">
    <a asp-action="Create" asp-controller="Permission" class="btn btn-primary">Add Permission</a>
</div>