@model IEnumerable<UserViewModel>

@{
    ViewBag.Title = "All users";
    Layout = "_AdminLayout";
}

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th class="text-left">ID</th>
        <th>Username</th>
        <th>Roles</th>
        <th>Actions</th>
    </tr>

    @foreach (var user in Model)
    {
        <tr>
            <td class="col-md-4 text-left">@user.Id</td>
            <td>@user.UserName</td>
            <td>
                <ul>
                    @foreach (var role in user.Roles)
                    {
                        <li>@role.Name</li>
                    }
                </ul>
            </td>
            <td class="text-center">
                <form asp-action="Remove" asp-controller="User" method="get">
                    <a asp-action="Edit" asp-controller="User" class="btn btn-sm btn-warning"
                       asp-route-userId="@user.Id">
                        Edit
                    </a>
                    <input type="hidden" name="UserId" value="@user.Id" />
                    <button type="submit" class="btn btn-danger btn-sm">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>